.visible {
  opacity: 50%;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  transform: rotate(-180deg);
  transition: all 1s ease;
}

.right {
  transform: rotate(-360deg);
  transition: all 1s ease;
}

.healthBarContainer {
  text-align: center;
  transition: width 1s cubic-bezier((0.47, 1.64, 0.41, 0.8));
}

.health_bar {
  display: flex;
  text-align: center;
  width: 15rem;
  height: 1rem;
  border-radius: 20px;
  /* background-color: #62ff84; */
  align-items: center;
  justify-content: flex-start;
  /* transition: width 1s cubic-bezier((0.47, 1.64, 0.41, 0.8)); */
  overflow: hidden;
}
.p_green {
  color: #079325;
}
.p_orange {
  color: #ffcc00;
}
.p_red {
  color: #610000;
}

.health_bar_green {
  border: 3px solid #079325;
}

.health_bar_orange {
  border: 3px solid #ffcc00;
}

.health_bar_red {
  border: 3px solid #610000;
}

.hit_points {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 0.5s linear;
}

.hit_points_green {
  background-color: #62ff84;
}

.hit_points_orange {
  background-color: #fff7d6;
}

.hit_points_red {
  background-color: #ff0000;
}

.test {
  color: red;
  border: 2px solid black;
  width: 50rem;
  text-align: center;
}

.test2 {
  color: yellow;
  border: 2px solid black;
  width: 50rem;
}

.test3 {
  color: cyan;
}

.menu {
  padding: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.attack_btn {
  width: 15rem;
  height: 2rem;
  color: white;
  border: 3px solid #73b9e5;
  background-color: #0073bc;
  border-radius: 20px;
  margin: 0 auto;
}

.attack_btn:hover {
  background-color: rgb(0, 183, 255);
  cursor: pointer;
}

.attack_btn:disabled {
  opacity: 50%;
  cursor: default;
  background-color: #0073bc;
}

.arrow_btn_container {
  display: flex;
  flex-direction: column;

  height: 5rem;
  justify-content: space-around;
}

.pokemon_battle {
  margin: 0 auto;
  max-width: 80rem;
  padding: 5rem;
}

.pokemon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon_container img {
  width: 15rem;
}

.stats_container {
  align-self: flex-start;
  width: 100%;
  padding-left: 5px;
  padding-top: 15px;
}

.stats_border {
  border: 2px solid #ffcc00;
  background-color: #fff7d6;
  border-radius: 15px;
  padding-left: 5px;
  height: 5rem;
}

.btn_container {
  display: flex;

  align-items: flex-start;
  padding-left: 2rem;
}

.btn_container a {
  padding-left: 20px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal_content {
  position: absolute;
  border: 1px solid black;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 3;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dmgIndicator {
  display: flex;
}

.dmgIndicator div p {
  opacity: 100%;
}

/* body.active-modal {
  overflow-y: hidden;
}
ovaj dio u nextjs ide u globals.css
 */

.dmg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dmg-left {
  font-size: 32px;
  padding-left: 6rem;
  color: red;
  height: 2rem;
  padding: 2rem;
}

.dmgNone {
  height: 2rem;
  padding: 2rem;
}

.dmg-right {
  font-size: 32px;
  padding-right: 6rem;
  color: red;
  height: 2rem;
  padding: 2rem;
}
