.home_page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.home_btn {
  width: 15rem;
  height: 2rem;
  color: white;
  border: 3px solid #73b9e5;
  background-color: #0073bc;
  border-radius: 20px;
  margin: 0 auto;
  font-family: inherit;
}

.home_btn:hover {
  background-color: rgb(0, 183, 255);
  cursor: pointer;
}
